/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf");
  font-weight: normal !important;
  font-style: normal !important;
  font-display: swap;
}
:root {
  --font: "Quicksand";
  --primary: 110, 159, 255;
  --secondary: 34, 34, 34;
  --white: 255, 255, 255;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
* {
  font-family: var(--font), sans-serif !important;
  box-sizing: border-box;

  /* transition: 0.3s all; */
}
*:focus {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: rgb(var(--primary), 0.5);
  outline-style: solid;
}

.navbar_Link-selected {
  @apply bg-primary bg-opacity-40;
}
.navbar__links {
  @apply px-4 py-2 rounded-main;
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-family: "Quicksand";
  font-size: 3rem !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important; /* 3.75rem */
  text-transform: uppercase !important;
}
h2 {
  font-family: "Quicksand";
  font-size: 2.5rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 120% !important; /* 3rem */
  text-transform: capitalize !important;
}

h3 {
  font-family: "Quicksand";
  font-size: 2rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 2.4rem */
  text-transform: capitalize !important;
}
h4 {
  font-family: "Quicksand";
  font-size: 1.5625rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.875rem */
  text-transform: capitalize !important;
}
p {
  font-family: "Quicksand";
  font-size: 1.25rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.5rem */
  text-transform: capitalize !important;
}
.text {
  font-family: "Quicksand";
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.5rem */
  text-transform: capitalize !important;
}

p.body1 {
  font-family: "Quicksand";
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.2rem */
  text-transform: capitalize !important;
}

p.body2 {
  font-family: "Quicksand";
  font-size: 0.8125rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 0.975rem */
}
p.tiny {
  font-family: "Quicksand";
  font-size: 0.625rem !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 120% !important; /* 0.75rem */
}

@media only screen and (max-width: 600px) {
  * {
    cursor: default !important;
  }
}
