/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --font: "Quicksand", sans-serif;
  --font-arabic: "Arabic-thin", sans-serif;
  --font-arabic-bold: "Arabic-bold", sans-serif;
  --primary: 110, 159, 255;
  --secondary: 34, 34, 34;
  --white: 255, 255, 255;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
html:lang(ar) {
  font-family: var(--font-arabic) !important;
  text-align: right;
}

html:lang(en) {
  font-family: var(--font) !important;
  text-align: left;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.clip_goals {
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 57%,
    76% 59%,
    92% 85%,
    76% 82%,
    57% 96%,
    40% 85%,
    32% 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 57%,
    76% 59%,
    92% 85%,
    76% 82%,
    57% 96%,
    40% 85%,
    32% 100%,
    0 100%
  );
}
canvas {
  position: absolute;
  width: 0;
  height: 0;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-zoom: none;
  -webkit-user-drag: none;
  overflow-wrap: break-word;
}
*:focus {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: rgb(var(--primary), 0.5);
  outline-style: solid;
}

.navbar__Link-selected {
  @apply bg-primary bg-opacity-40;
}
.navbar__links,
.mobile__links {
  @apply px-4 py-2 rounded-main;
}

.mobile__menu-show {
  @apply !scale-100 top-[40px] !opacity-100;
}
.mobile__menu {
  transform-origin: top right;
  transition: 0.4s all cubic-bezier(0.645, 0.045, 0.355, 1);
}
body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-size: 3rem !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 120% !important; /* 3.75rem */
  text-transform: uppercase !important;
}
h1:lang(ar),
h2:lang(ar) {
  font-family: var(--font-arabic-bold);
}
h2 {
  font-size: 2.5rem !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 120% !important; /* 3rem */
  text-transform: capitalize !important;
}

h3 {
  font-size: 2rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 2.4rem */
  text-transform: capitalize !important;
}
h4 {
  font-size: 1.5625rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.875rem */
  text-transform: capitalize !important;
}
p {
  font-size: 1.25rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.5rem */
  text-transform: capitalize !important;
}
.text {
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.5rem */
  text-transform: capitalize !important;
}

.body1 {
  font-size: 1rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 1.2rem */
  text-transform: capitalize !important;
}

.body2 {
  font-size: 0.8125rem !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 120% !important; /* 0.975rem */
}
.tiny {
  font-size: 0.625rem !important;
  font-style: normal !important;
  font-weight: 300 !important;
  line-height: 120% !important; /* 0.75rem */
}
textarea {
  resize: none;
}

.section_clip_about {
  margin-top: -20px;
  height: 500px;
  clip-path: polygon(
    99.861% 3.638%,
    -0.139% 3.638%,
    -0.139% 79.522%,
    99.861% 79.522%,
    99.861% 77.095%,
    88.125% 75.339%,
    76.389% 63.285%,
    49.097% 68.434%,
    21.458% 63.285%,
    29.201% 52.988%,
    49.097% 42.69%,
    65.139% 29.061%,
    76.389% 35.967%,
    86.875% 32.09%,
    91.493% 13.712%,
    99.861% 5.353%,
    99.861% 3.638%
  );
}
.section__end {
  height: 300px;
  margin-top: -20px;
  clip-path: polygon(
    58.333% 45.238%,
    67.431% 63.828%,
    80.556% 48.901%,
    89.583% 50.733%,
    100% 39.744%,
    100% 6.502%,
    48.958% 6.502%,
    0% 6.502%,
    0% 59.89%,
    5% 39.744%,
    9.896% 28.571%,
    15.417% 45.238%,
    25.208% 53.388%,
    38.038% 43.132%,
    47.049% 63.828%,
    58.333% 45.238%
  );
}
astro-island {
  display: flex !important;
}

a {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  text-transform: capitalize;
  -webkit-user-select: none;
}
.animate-scroll {
  animation-name: Scroll;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 1000ms;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(var(--primary));
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Scroll {
  from {
    opacity: 1;
    transform: translateY(4px);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
@media only screen and (max-width: 600px) {
  * {
    cursor: default !important;
  }
}

.faq-init {
  grid-template-rows: 0fr;
}
.faq-expand {
  grid-template-rows: 1fr;
}
