---
import type { HtmlHTMLAttributes } from "react";
interface Props extends HtmlHTMLAttributes<HTMLButtonElement> {
  type: "button" | "submit";
}
const { className, ...props } = Astro.props;
---

<button
  class={`${className} outline-none bg-primary w-fit px-6 py-3 rounded-main text text-white`}
  {...props}
>
  <slot />
</button>
