---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Button from "./Button.astro";
import Input from "./Input.astro";
import TextArea from "./TextArea.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<form
  action="sendmail.php"
  method="POST"
  class={`contactus_form flex-1 w-full px-5 py-6 flex flex-col gap-4 bg-white shadow-main rounded-main`}
>
  <Input
    placeholder={lang == "en" ? "*Full Name" : "*ألاسم"}
    name="name"
    type="text"
    value={"ayham"}
    required
  />
  <Input
    placeholder={lang == "en"
      ? "Company Name (Optional)"
      : "أسم الشركة (اختياري)"}
    name="company"
    value={"ayhams company inc."}
    type="text"
  />
  <Input
    placeholder={lang == "en" ? "*Email" : "*البريد الالكتروني"}
    type="email"
    name="email"
    value={"ayhamgm81@gmail.com"}
    required
  />
  <Input
    placeholder={lang == "en" ? "*Phone Number" : "*رقم الهاتف"}
    type="tel"
    name="phone"
    value={"+20 100 157 7302"}
    required
  />
  <Input
    placeholder={lang == "en" ? "*Subject..." : "*عنوان الموضوع"}
    type="text"
    name="subject"
    value={"Develepment Project"}
    required
  />
  <TextArea
    placeholder={lang == "en" ? "Message..." : "...الرسالة"}
    name="message"
  />
  <Button type="submit" className={"email_btn !w-full"}>
    {lang == "en" ? "Send" : "ارسال"}
  </Button>
  <div
    class="w-full m-auto flex justify-center items-center email_loading hidden"
  >
    <div class="lds-roller">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</form>

<script>
  import { getLangFromUrl, useTranslations } from "@i18n/utils";
  import ENV from "@script/env";
  import Swal from "sweetalert2";
  import type { FormEvent } from "react";
  // @ts-ignore
  const lang = getLangFromUrl(location);
  const t = useTranslations(lang);
  const API_URL =
    ENV() == "dev" ? "http://localhost:4200" : "https://mailapi.devtechsl.com";
  const form = document.querySelector(".contactus_form") as HTMLFormElement;
  const email_btn = document.querySelector(".email_btn") as HTMLButtonElement;
  const email_loading = document.querySelector(
    ".email_loading",
  ) as HTMLButtonElement;
  const inputName = document.querySelector(
    "input[name=name]",
  ) as HTMLInputElement;
  const inputCompany = document.querySelector(
    "input[name=company]",
  ) as HTMLInputElement;
  const inputEmail = document.querySelector(
    "input[name=email]",
  ) as HTMLInputElement;
  const inputPhone = document.querySelector(
    "input[name=phone]",
  ) as HTMLInputElement;
  const inputSubject = document.querySelector(
    "input[name=subject]",
  ) as HTMLInputElement;
  const Message = document.querySelector(
    "textarea[name=message]",
  ) as HTMLInputElement;
  await fetch(`${API_URL}/ping`);

  const handleSubmit = (e: FormEvent) => {
    e.preventDefault();
    email_btn.classList.add("hidden");
    email_loading.classList.remove("hidden");

    fetch("", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        name: inputName.value,
        company: inputCompany.value,
        email: inputEmail.value,
        phone: inputPhone.value,
        subject: inputSubject.value,
        message: Message.value,
      }),
    })
      .then((res) => {
        if (res.status != 200) return EmailNotSent();
        EmailSent();
      })
      .catch((err) => {
        EmailNotSent();
      })
      .finally(() => {
        email_btn.classList.remove("hidden");
        email_loading.classList.add("hidden");
      });
  };
  form.addEventListener("submit", handleSubmit);
  inputPhone.addEventListener(
    "input",
    () => (inputPhone.value = inputPhone.value.replace(/[a-z]|[A-Z],/g, "")),
  );
  function EmailSent() {
    Swal.fire({
      title: t("email.success.title"),
      text: t("email.success.text"),
      icon: "success",
      confirmButtonText: lang == "en" ? "Okay" : "موافق",
    });
  }
  function EmailNotSent() {
    Swal.fire({
      title: t("email.fail.title"),
      text: t("email.fail.text"),
      icon: "error",
      confirmButtonText: lang == "en" ? "Okay" : "موافق",
    });
  }
</script>
