---
import Button from "@components/Button.astro";
import LangPicker from "@components/LangPicker.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

import Wrapper from "@layouts/Wrapper.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="fixed w-full top-0 navbar transition-all duration-300 z-20">
  <Wrapper>
    <nav class="py-6 flex justify-between items-center relative">
      <div>
        <!-- Desktop Logo -->
        <svg
          class="lg:block hidden"
          width="248"
          viewBox="0 0 825 111"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_230_47)">
            <path
              d="M79.9048 102.09V1.5H124.17C133.605 1.5 141.69 3.915 148.41 8.745C155.13 13.575 160.2 20.085 163.62 28.26C167.025 36.435 168.735 45.51 168.735 55.485C168.735 65.46 167.025 74.7 163.62 82.875C160.2 91.05 155.13 97.53 148.41 102.315C141.69 107.1 133.605 109.485 124.17 109.485H79.9048V102.075V102.09ZM145.71 84.12C150.825 76.665 153.39 67.125 153.39 55.5C153.39 43.875 150.81 34.47 145.635 26.955C140.46 19.455 132.81 15.69 122.67 15.69H94.8148V95.31H122.67C132.915 95.31 140.58 91.59 145.71 84.12Z"
              fill="white"
              class="Logo__black"></path>
            <path
              d="M301.53 109.5L258.21 6.9L273.165 0.780005L310.2 88.26L345.18 0.630005L360.12 6.915L316.8 109.335L301.515 109.5H301.53Z"
              fill="white"
              class="Logo__black"></path>
            <path
              d="M514.485 16.575H484.995V109.5H468.105V16.575H438.78V1.5H514.485V16.575Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M527.25 1.5H588.345V15.69H542.52V47.175H581.4V61.215H542.52V95.31H588.345V109.5H527.25V1.5Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M186.195 1.5H247.29V15.69H201.465V47.175H240.345V61.215H201.465V95.31H247.29V109.5H186.195V1.5Z"
              fill="white"
              class="Logo__black"></path>
            <path
              d="M747.87 1.5V43.8H807.465V1.5H824.25V109.5H807.465V59.25H747.87V109.5H731.25V1.5H747.87Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M698.385 9.255L697.275 8.25L687.675 18.93L688.785 19.935C698.055 28.275 703.38 40.2 703.38 52.65C703.38 76.89 683.655 96.63 659.4 96.63C635.145 96.63 615.42 76.905 615.42 52.65C615.42 40.185 620.745 28.26 630.015 19.935L631.125 18.93L621.525 8.25L620.415 9.255C608.115 20.31 601.065 36.135 601.065 52.665C601.065 84.84 627.24 111 659.4 111C691.56 111 717.735 84.825 717.735 52.665C717.735 36.135 710.685 20.31 698.37 9.255H698.385Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M666.6 0H652.23V57H666.6V0Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M54.75 109.5L0.75 55.5L54.75 1.5L63.06 9.81L17.37 55.5L63.06 101.19L54.75 109.5Z"
              fill="white"
              class="Logo__black"></path>
            <path
              d="M378.75 1.5L432.75 55.5L378.75 109.5L370.44 101.19L416.13 55.5L370.44 9.81L378.75 1.5Z"
              fill="white"
              class="Logo__black"></path>
          </g>
          <defs>
            <clipPath id="clip0_230_47">
              <rect
                width="823.5"
                height="111"
                fill="white"
                transform="translate(0.75)"></rect>
            </clipPath>
          </defs>
        </svg>

        <!-- Mobile Logo -->
        <svg
          class="lg:hidden block"
          width="92"
          viewBox="0 0 244 111"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_230_39)">
            <path
              d="M161.235 9.255L160.125 8.25L150.525 18.93L151.635 19.935C160.905 28.275 166.23 40.2 166.23 52.65C166.23 76.89 146.505 96.63 122.25 96.63C97.9949 96.63 78.2699 76.905 78.2699 52.65C78.2699 40.185 83.5949 28.26 92.8649 19.935L93.9749 18.93L84.3749 8.25L83.2649 9.255C70.9649 20.31 63.8999 36.135 63.8999 52.665C63.8999 84.84 90.0749 111 122.235 111C154.395 111 180.57 84.825 180.57 52.665C180.57 36.135 173.52 20.31 161.205 9.255H161.235Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M129.435 0H115.065V57H129.435V0Z"
              fill="white"
              class="Logo__blue"></path>
            <path
              d="M54.75 109.5L0.75 55.5L54.75 1.5L63.06 9.81L17.37 55.5L63.06 101.19L54.75 109.5Z"
              fill="white"
              class="Logo__black"></path>
            <path
              d="M189.75 1.5L243.75 55.5L189.75 109.5L181.44 101.19L227.13 55.5L181.44 9.81L189.75 1.5Z"
              fill="white"
              class="Logo__black"></path>
          </g>
          <defs>
            <clipPath id="clip0_230_39">
              <rect
                width="243"
                height="111"
                fill="white"
                transform="translate(0.75)"></rect>
            </clipPath>
          </defs>
        </svg>

        <!-- <svg
          class="lg:hidden block"
          width="92"
          height="43"
          viewBox="0 0 92 43"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M70.9212 0.0250538C71.5343 0.0250538 72.1474 0.259356 72.616 0.72796L91.118 19.23C91.5983 19.7103 91.9303 20.3312 91.9888 21.0029C92.063 21.8347 91.7702 22.6313 91.1922 23.2092L72.6863 41.7152C71.7608 42.6407 70.2339 42.7383 69.2811 41.8362C68.3283 40.9342 68.2775 39.3487 69.2264 38.3959L86.0922 21.5301C86.2445 21.3778 86.2445 21.1318 86.0922 20.9795L69.2967 4.18391C68.3361 3.22327 68.2892 1.60269 69.2772 0.673289C69.738 0.23983 70.3276 0.0211487 70.9173 0.0211487L70.9212 0.0250538Z"
            class="Logo__black"
            fill="white"></path>
          <path
            d="M21.079 42.4637C20.4659 42.4637 19.8528 42.2294 19.3842 41.7608L0.882156 23.2588C0.401837 22.7785 0.0699093 22.1576 0.0113339 21.4859C-0.0628617 20.6541 0.230016 19.8575 0.80796 19.2796L19.3139 0.769702C20.2394 -0.15579 21.7663 -0.253416 22.7191 0.648647C23.6719 1.55071 23.7227 3.13615 22.7738 4.08898L5.90403 20.9548C5.75173 21.1071 5.75173 21.3531 5.90403 21.5054L22.6996 38.301C23.6602 39.2616 23.7071 40.8822 22.7191 41.8116C22.2583 42.245 21.6686 42.4637 21.079 42.4637Z"
            class="Logo__black"
            fill="white"></path>
          <path
            d="M45.9999 42.5235C34.6503 42.5235 25.4126 33.2892 25.4126 21.9362C25.4126 16.8609 27.2792 11.9831 30.6684 8.209C31.5404 7.23822 33.0324 7.15647 34.0031 8.02847C34.9739 8.90047 35.0557 10.3924 34.1837 11.3632C31.5745 14.2687 30.1371 18.0258 30.1371 21.9327C30.1371 30.68 37.2527 37.7956 45.9999 37.7956C54.7472 37.7956 61.8628 30.68 61.8628 21.9327C61.8628 18.0224 60.4254 14.2687 57.8162 11.3632C56.9442 10.3924 57.0259 8.89706 57.9967 8.02847C58.9675 7.15647 60.4628 7.23822 61.3314 8.209C64.7206 11.9831 66.5873 16.8574 66.5873 21.9362C66.5873 33.2858 57.3529 42.5235 45.9999 42.5235Z"
            class="Logo__blue"
            fill="white"></path>
          <path
            d="M46.0002 24.2967C44.6956 24.2967 43.6362 23.1761 43.6362 21.7965V2.50018C43.6362 1.11725 44.6956 0 46.0002 0C47.3048 0 48.3641 1.12065 48.3641 2.50018V21.7965C48.3641 23.1795 47.3048 24.2967 46.0002 24.2967Z"
            class="Logo__blue"
            fill="white"></path>
        </svg> -->
      </div>
      <!-- Desktop Menu -->
      <ul class="justify-between items-center gap-20 lg:flex hidden">
        <li>
          <a
            role="link"
            data-section="HeroSection"
            class="text link navbar__links hover:bg-primary transition-all duration-300 hover:bg-opacity-25 text-white navbar__Link-selected"
            >{t("nav.home")}</a
          >
        </li>
        <li>
          <a
            role="link"
            data-section="OurServices"
            class="text link navbar__links hover:bg-primary transition-all duration-300 hover:bg-opacity-25 text-white"
            >{t("nav.services")}</a
          >
        </li>
        <li>
          <a
            role="link"
            class="text link navbar__links hover:bg-primary transition-all duration-300 hover:bg-opacity-25 text-white"
            data-section="Aboutus">{t("nav.aboutus")}</a
          >
        </li>
        <Button className="contactus_btns">{t("button.contactus")}</Button>
        <LangPicker />
      </ul>
      <!-- Mobile Menu -->
      <button
        class="p-[14px] aspect-square lg:hidden block bg-primary bg-opacity-20 rounded-main active:scale-95
            hover:scale-105 transition-all 300 mobile-btn"
      >
        <div
          class="w-[30px] h-auto flex flex-col gap-2 items-end bg-opacity-100"
        >
          <span class="w-[85%] h-[3px] bg-white rounded-full"></span>
          <span class="w-full h-[3px] bg-white rounded-full"></span>
          <span class="w-[70%] h-[3px] bg-white rounded-full"></span>
        </div>
      </button>
      <div
        class="mobile__menu absolute w-[100%] h-[50vh] block lg:hidden bg-white shadow-xl scale-0 top-[-150px] opacity-0 right-0 rounded-main"
      >
        <ul
          class="p-10 justify-between items-center flex flex-col w-full h-full"
        >
          <li>
            <a
              role="link"
              data-section="HeroSection"
              class="text link mobile__links text-black navbar__Link-selected"
              >{t("nav.home")}</a
            >
          </li>
          <li>
            <a
              role="link"
              data-section="OurServices"
              class="text link mobile__links text-black">{t("nav.services")}</a
            >
          </li>
          <li>
            <a
              role="link"
              class="text link mobile__links text-black"
              data-section="Aboutus">{t("nav.aboutus")}</a
            >
          </li>
          <Button className="contactus_btns">{t("button.contactus")}</Button>
          <LangPicker className="!text-black" />
        </ul>
      </div>
    </nav>
  </Wrapper>
</div>
<script src="@script/navbar.ts"></script>
