---

---

<main class="bg-[url(/images/background.png)] bg-fixed bg-no-repeat bg-cover h-[100vh] w-[100vw] overflow-auto relative">
    <slot />
    <div class="bg-white w-[100%] h-[300vh]">

    </div>
</main>