<!-- Slider main container -->
<div class="services_swiper hidden px-6">
  <div class="swiper !overflow-y-visible !overflow-x-visible">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper h-max">
      <slot />
    </div>
  </div>
  <div class="relative w-full pt-16">
    <div class="swiper-pagination"></div>
  </div>
</div>

<script src="@script/SwiperContainer.ts"></script>
