---
import Goals from "@content/Goals";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Wrapper from "@layouts/Wrapper.astro";
import { Image } from "astro:assets";
import AboutusImage from "@public/images/aboutus.png";
import Useless from "@components/Useless.astro";
import WhiteUseless from "@components/WhiteUseless.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="Aboutus"
  class="w-[100%] close py-8 bg-white flex flex-col md:gap-0 gap-10"
>
  <div>
    <Wrapper>
      <h2 class="text-center mb-5">{t("aboutus.title")}</h2>
      <p class="opacity-80">{t("aboutus.text")}</p>
    </Wrapper>
  </div>
  <div>
    <Wrapper>
      <div
        class={`flex justify-center items-center flex-col ${
          lang == "en" ? "md:flex-row" : "md:flex-row-reverse"
        }  z-[0]`}
      >
        <div class="min-w-[300px] max-w-[600px]">
          <h2 class="mb-5">{t("aboutus.goals.title")}</h2>
          <p class="opacity-80">{t("aboutus.goals.text")}</p>
        </div>
        <div>
          <Image src={AboutusImage} alt={"About Us"} />
        </div>
      </div>
    </Wrapper>
  </div>
</section>
<section class="relative z-[-1]">
  <div class="section_clip_about bg-white">
    <div class="w-[78.5%] m-auto">
      <div class="absolute top-[210px] z-[2]">
        <Useless />
      </div>
    </div>
  </div>
  <div class="w-[78.5%] m-auto">
    <div class="absolute top-[210px] z-[-2]">
      <WhiteUseless />
    </div>
  </div>
</section>
