---
import Button from "@components/Button.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Wrapper from "@layouts/Wrapper.astro";
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section
  id="HeroSection"
  class="w-full h-[100vh] close flex justify-center items-center"
>
  <Wrapper>
    <div class="flex flex-col text-center">
      <h1 class="text-white">{t("hero.title")}</h1>
      <div class="m-auto py-4">
        <svg width="155" height="79" viewBox="0 0 155 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.803178 0.86911C69.525 43.9686 134.983 -13.0096 147.439 69.8051C121.49 36.7312 145.67 74.4977 149.365 77.5016L154.499 60.5859" stroke="white" stroke-width="1.5px" />
          </svg>

      </div>
      <div class="mx-auto"><Button>{t("hero.button")}</Button></div>
    </div>
  </Wrapper>
</section>
