---
import Button from "@components/Button.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import Wrapper from "@layouts/Wrapper.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="HeroSection"
  class="w-full h-[100vh] close flex justify-center items-center"
>
  <Wrapper>
    <div class="flex flex-col text-center gap-10">
      <h1 class="text-white">{t("hero.title")}</h1>
      <div class="mx-auto">
        <Button className="aboutus_btn">{t("hero.button")}</Button>
      </div>
    </div>
  </Wrapper>
</section>

<script>
  const btn = document.querySelector(".aboutus_btn") as HTMLButtonElement;
  btn.addEventListener("click", () => {
    // @ts-ignore
    document.querySelector("a[data-section=Aboutus]")?.click();
  });
</script>
